@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazirmatn[wght].ttf') format('woff2');
  }

  @font-face {
    font-family: 'VazirRDFDNL';
    src: url('../fonts/Vazirmatn-FD-NL-ExtraLight.ttf') format('woff2');
    font-weight: 200;
  }

  @font-face {
    font-family: 'Behdad';
    src: url('../fonts/Behdad-Regular.ttf') format('woff2');
  }
}